body {
  background-color: #100F0F; 
}

.nav {
  background-color: #0F3D3E;
  display: flex; 
  justify-content: flex-end; 
  padding: 10px;
}

.item, .equipment{
  color: #F1F1F1;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.first {
  margin-right: auto;
}

.s {
  margin-right: 500px;
}

.live{
  margin-bottom: -10px;
  margin-right: 70px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container0 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.container3 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.center {
  width: 180px;
  height: 60px; 
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px; 
  cursor: pointer;
  background: transparent;
  border: 1px solid #E2DCC8;
  outline: none;
  transition: 1s ease-in-out;
  color: white;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #F1F1F1;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #E2DCC8;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: #F1F1F1;
  font-size: 18px;
  font-weight: 100;
}

.fitnesscss, .yogacss {
  color: #F1F1F1;
  display: flex;
  justify-content: center;
}

.containerButton{
  display: flex;
  justify-content: space-around; 
  margin-left: 325px;
  margin-top: 100px;
}

.container2{
  margin-left: -170px;
  margin-top: 50px;
}

.prehistory {
  display: block;
  justify-content: center;
  margin-top: 50px;
}

.en {
  margin: 20px;
  margin-top: 50px;
}

.col-md-6 {
  display: flex;
  justify-content: center;
}

.prehistoryItem1, .prehistoryItem2, .prehistoryItem3{
  display: flex;
  justify-content: center;
  color: #F1F1F1;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.icss {
  margin-left: 5px;
  margin-right: 5px;
}

.containerButtonKids {
  display: flex;
  justify-content: space-around;
  margin-left: 500px;
}

.col1 {
  padding: 10px;
}

.myClassnameVideo {
  position: fixed;
  top: 50;
  margin-left: 20;
  min-width: 100%;
  min-height: 100%;
  /* z-index: -10; */
}

.photo {
  display: inline-block;
  justify-content: space-around; 
  width: 700px;
  image-rendering: auto;
   margin-top: 30px;
  margin-left: 600px; 
  border-radius: 50px;
}

.row {
  margin-top: 50px;
}

.contactcss, h5 {
  font-family: 'Montserrat', sans-serif;          
  color:  #F1F1F1;
  font-size: 20px;                            
}

.equipment{
  display: flex;
  justify-content: center;
}

.y {
  margin-left: 100;
}

.link {
  font-family: 'Montserrat', sans-serif;          
  text-decoration: none;
  color: white;
}

.wholeBodyCss {
  font-family: 'Montserrat', sans-serif;          
  color: white;
  display: flex;
  justify-content: center;
}

.datacss {
  margin-top: -20px;
}

.datacss2 {
  margin-top: 210px;
}

h3{
  display: flex;
  justify-content: center;
  color: white;
  margin: 20px;
  font-size: 40px;
  text-transform: uppercase;
}

.containerOnThePhoto {
  display: flex;
  justify-content: center;
}

.btn3 {
  margin-top: 50px;
  border: none;
  color: #232323;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.previous, .next {
  color: white;
  background-color: #100F0F;
  border: black;
}